<div class="container">
  <div class="row">

    <div class="col-md-12">

      <form (ngSubmit)="onAddItem(f)" #f="ngForm">

        <div class="form-group">
          <label for="recipename">Enter Name of Recipe:</label>
          <input
          type="text"
          id="recipename"
          class="form-control"
          name="recipename"
          ngModel>

          <br>
          <label for="linkofpicture">Enter Link of Picture:</label>
          <input
          type="text"
          id="linkofpicture"
          class="form-control"
          name="linkofpicture"
          ngModel>

          <br>
          <label for="description">Enter Description:</label>
          <input
          type="text"
          id="description"
          class="form-control"
          name="description"
          ngModel>

          <br>
          <button
          type="submit"
          class="btn btn-primary btn-lg">Submit</button>

      </div>
      </form>
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let recipe of recipes"
          >
          {{ recipe.recipename }}
        </a>
      </ul>
    </div>
  </div>
</div>
